<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- Start the ROS server with an empty world. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <!-- Point to our *.world file that adds the light and ground -->
    <arg name="world_name" value="$(find kalman_simulation)/worlds/spherical_wheels.world"/>
    <arg name="paused" value="false"/>
  </include>

    <param name="robot_description"
      command="$(find xacro)/xacro --inorder $(find turtlebot3_custom)/urdf/turtlebot3_omni.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
      args="-urdf -model turtlebot3_omni -x -0 -y 0 -z 0 -param robot_description" />

  <node pkg="kalman_simulation" type="omnidrive_controller_noisy" name="omni_pid" output="screen" args="0.0 0.0 0.0"/>
  <node pkg="kalman_simulation" type="beacons2d_relative" name="beacon" output="screen"/>
</launch>

